<p>
  <%= @user.username%><br/>
  <%= @user.email%>
</p>

<div>
  <% @upcoming_events.each do |event| %>

  <p>
   <strong>Event:</strong><%= event.name %>
   </p>

    <p>
    <strong>Location:</strong><%= event.location %>
    </p>

    <p>
    <strong>Description:</strong><%= event.description %>
    </p>

    <p>
    <strong>Date:</strong><%= event.date %>
    </p>
  <% end %>
</div>

<div>
  <% @previous_events.each do |event| %>

  <p>
   <strong>Event:</strong><%= event.name %>
   </p>

    <p>
    <strong>Location:</strong><%= event.location %>
    </p>

    <p>
    <strong>Description:</strong><%= event.description %>
    </p>

    <p>
    <strong>Date:</strong><%= event.date %>
    </p>
  <% end %>
</div>